*{
box-sizing: border-box;
}

.fa-paper-plane {
justify-content: center;
text-align: center;
float: center;
margin-left: auto !important;
margin-right: auto !important;
}

.archieve {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.hold {
    border: solid #ccc 4px;
}

.hidden {
display: none !important;
visibility: hidden !important;
}

.newinfo{
    font-size: 10px !important;
}

.card-main {
    /* position: absolute; */
    z-index: 9;
}

.card-header {
    cursor: move;
}
